
.container {
	width: 40%;
	margin-top: 15em;
}

.jumbotron {
	vertical-align: center;
	margin-bottom: 10px;
}



cite {
	display: inline-block;
	padding-left: 75%;
	padding-bottom: 15px;
}

.fa-twitter-square {
	font-size: 36px;
	float: left;
}

.newquote {
	float: right;
}